body{
  height: 1500px;
}

#route {
  max-width: 900px;
  min-width: 300px;
  height: 510px;
  margin: 100px auto 0px;
  /* border: 1px solid black; */
  display: flex;
  word-break: break-all;
}

#map {
  width: 800px;
  border: 1px solid red;
  border-radius: 10px;
} 

#route input {
  margin: 10px 0px 0px 10px;
}

.points-routes {
  border: 1px solid green;
  border-radius: 10px;
  flex-basis: 300px;
  margin-right: 5px;
}

.list-points-routes {
  padding: 0px 15px;
  width: 220px;
  user-select: none;
}

.point {
  list-style: none;
  margin-bottom: 5px;
  padding: 2px 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  width: 213px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.point:hover {
  border: 1px solid rgb(0, 0, 0);
  cursor: grab;
}

.point:active {
  cursor: grabbing;
  opacity: .15;
}

.currentUnderPoint { /* этот класс для того, чтобы убрать действие .point:hover */
  list-style: none;
  margin-bottom: 5px;
  padding: 2px 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  width: 213px;
  background-color: rgb(255, 255, 255);
}

.pointBefore {
  background-image: linear-gradient(to top, red, red);
  background-size: 100% 2px;
  background-position-y: 0%;
  background-repeat: no-repeat;
}

.pointAfter {
  background-image: linear-gradient(to top, red, red);
  background-size: 100% 2px;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.ghostPoint {
  list-style: none;
  margin-bottom: 5px;
  width: 213px;
}

.name-point {
  display: table-cell;
  width: 100%;
}

.delete-point {
  display: table-cell;
  padding-left: 10px;
  font-family: sans-serif;
}

.delete-point b {
  cursor: pointer;
}